
div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
table,th,td{
    padding: 5px;
    text-transform: uppercase;
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
