html,body,div,button,nav{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

svg{
  height: 100px;
  width: 100px;
  fill: springgreen;
  animation-name: rotate;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-duration: .9s;
  animation-iteration-count: infinite;
}
@keyframes rotate{
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);fill: hotpink;}
  50% {transform: rotate(180deg); fill: indigo;}
  75% {transform: rotate(270deg); fill: gold;}
  100% {transform: rotate(360deg); fill: dodgerblue;}

}