html,body,div,button{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html{
  font-size: 2vw;
}
#outer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
#tab{
  display: flex;
  width: 20rem;
  box-shadow: 0 3px 3px grey ;
}
button{
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 3rem;
  border-bottom: .5rem solid transparent;
  background-color: white;
  cursor: pointer;
}
button:hover{
  border-bottom: .5rem solid rgb(151, 252, 0);
}
